# Node.js dependencies (if relevant)
src/front_end/node_modules/

# Docker-related files
Dockerfile
LICENSE
README.md
.git/
.gitignore

# Rust build artifacts
src/back_end/target/
.cargo/

# Rust-specific backup files (useful to ignore)
**/*.rs.bk

# Debug/Temporary files
*.pdb
*.log
*.tmp

# Environment files
.env

.history
