.env

# Editor directories and files
.vscode
.history
.cache_ggshield
.loz_logs
.husky

# from rust
Cargo.lock
src/back_end/target

# from svelte
src/front_end/node_modules
src/front_end/dist/
src/front_end/package-lock.json

# Node
node_modules/

# Python venv
.venv/
