# Editor directories and files
.vscode/*
.history/*

# from rust
Cargo.lock
/back_end/target

# from svelte
/front_end/node_modules
/front_end/dist/
/front_end/package-lock.json

.env
.cache_ggshield

# Ignore Python virtual environments
venv/
.venv/